.nav,
.dm,
.main-content{
	width: 1200px;
	margin: 0 auto;
}

.header{
	min-width: 1200px;
	width: 100%;
	height: 114px;
	border-top:solid 6px #1a3168;
	background: url(../img/header.png) no-repeat center center;
	background: url(../img/header.png) no-repeat center center,
	url(../img/headbg.png) repeat-x;
}

.header-content{
	width: 1200px;
	height: 100%;
	/*background-color: blue;*/
	margin-left: auto;
	margin-right: auto;
	padding-top: 21px;
	box-sizing: border-box;
}

.header-nav{
	float: right;
	font-size: 14px;
	color: #1a3168;
}

.header-nav form{
	float: right;
	margin-top: 16px;
}

.header-nav a{
	color: inherit;
	margin-left: 20px;
}

.header-nav input[type=text]{
	padding: 8px;
	border: none;
	text-align: center;
}

.header-nav input[type=submit]{
	padding: 8px;
	background-color: #1a3168;
	color: #FFF;
	border: none;
}

/* 导航区 */
.nav{
	height: 60px;
	border-top:solid 1px  #e5e5e5;
	/*background-color: red;*/
}

.nav>ul{
	height: 40px;
	/*background-color: RED;*/
	line-height: 40PX;
	margin-top: 10px;
	float: right;
	font-size: 18px;
	color: #FFF;
	text-align: center;
	font-size: 0;
}

.nav>ul>li{
	font-size: 18px;
	background-color: #1a3168;
	width: 120px;
	margin-left: 2px;
	border-radius: 7px 7px 0 0;
	position: relative;
}

.nav>ul>li>a {
	color: inherit;
	text-decoration: none;
	/*background-color: grey;*/
	width: inherit;
	border-radius: 7px 7px 0 0;
}

.nav>ul>li>a:hover{
	background-color: orange;
}

.sub-nav{
	width: 486px;
	background-color: #fff;
	position: absolute;
	top: 40px;
	box-sizing: border-box;
	padding-left: 20px;
	display: none;
	text-align: left;
	line-height: 30px;
}

.sub-nav a{
	width: 150px;
	font-size: 12px;
	text-align: initial;
	color: #000;
}

.nav>ul>li>a:hover+ul,
.sub-nav:hover{
	display: block;
	z-index: 1;
}

.sub-nav-right-align{
	right: 0;
}

/* 图片区 */
.dm{
	height: 402px;
	position: relative;
}

.left-arrow,
.right-arrow{
	width: 40px;
	height: 46px;
	position: absolute;
	top: 178px;
	opacity: 0.3;
}

.left-arrow{
	background: url(../img/left_btn.png);
	left: 20px;
}

.right-arrow{
	background: url(../img/right_btn.png);
	right: 20px;
}

.left-arrow:hover,
.right-arrow:hover{
	opacity: 1;
	cursor: pointer;
}

/* 内容区 */
.main-content{
	margin-top: 10px;
	min-height: 320px;
}

.main-content-news{
	float: left;
	background-color: red;
	width: 880px;
	box-sizing: border-box;
	border-top: 6px solid #1a3168;
}

.main-content-notice{
	background-color: #eee;
	width: 310px;
	float: right;
	box-sizing: border-box;
	border-top: 6px solid orange;
}

.notice-img{
	float: right;
	margin-top: 1em;
}

.notice-img p{
	color: #4c4c4c;
	margin: 0;
	padding: 5px 0;
	font-size: 14px;
	text-align: center;
}

.notice-content{
	float: left;
	position: relative;
}

.notice-content>ul>li{
	height: 30px;
	margin-right: 10px;
	text-align: center;
	line-height: 30px;
}

.notice-content>ul>li:first-child{
	background-color: #bbb;
	margin-left: 10px;
}

.notice-content ol{
	position: absolute;
	top: 28px;
	left: 0;
	width: 210px;
	padding: 0px;
}

.notice-content ol li{
	width: 202px;
	height: 29px;
	margin-bottom: 10px;
	line-height: 29px;
	box-sizing: border-box;
	border-radius: 3px;
	background-color: #e7f2f9;
}

.notice-content ol li a{
	font-size: 14px;
	width: 190px;
	color: #454545;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.notice-content ol li:first-child{
	margin-top: 10px;
}

.notice-content ol li:last-child{
	margin-bottom: 0;
}

/* 底部导航区 */
.footer{
	height: 150px;
	background-color: #1a3168;
	margin-top: 20px;
}