<component name="ArtifactManager">
  <artifact type="war" name="springmvcdemo2:war">
    <output-path>$PROJECT_DIR$/springmvcdemo2/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springmvcdemo2</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springmvcdemo2.war">
      <element id="artifact" artifact-name="springmvcdemo2:war exploded" />
    </root>
  </artifact>
</component>